<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <div class="hero" style=" height: 600px;
    width: 100%;background: linear-gradient(to right,#ff105f,#ffad06);transition: .3s;
     background-position: center; background-size:cover; position: absolute">
<div class="quot" style="width: 600px; height:400px;padding:40px;margin-top:100px; margin-left:400px;">
    <h1 style="color:white;">What are the benefits of a healthy lifestyle?</h1>
    <p style="color:white">1. Improve your physical health <br>
2. Improve your mental health <br>
3. Get more energy naturally<br>
4. Boost your mood<br>
5. Prevent diseases and health issues<br>
6. Save money<br>
7. Always have goals to work towards<br>
8. Improve your kitchen confidence</p>
</div>

     </div>
</body>
</html>